<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- LOAD STATIC RESOURCES -->
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
<link rel="stylesheet" type="text/css" media="screen" href="/css/custom.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="/css/bulma.css"/>

<!-- LOAD JS RESOURCES -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="https://use.fontawesome.com/9511989a62.js"></script>