<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<script src="/js/index.js"></script>

<!-- LOAD STATIC RESOURCES -->
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
<link rel="stylesheet" type="text/css" media="screen" href="/css/custom.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="/css/bulma.css"/>
<script src="https://use.fontawesome.com/c52691aa8d.js"></script>