<!-- LOAD HIGHLIGHT JS RESOURCES -->
<link rel="stylesheet" href="/highlight.js/atom-one-dark.css">
<script src="/highlight.js/highlight.pack.js"></script>

<!-- LOAD LEAFLET CSS RESOURCES -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" />