body {
	padding: 5% !important;
}

.bottom-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.tabs li.custom-inactive-tab a:hover {
  background-color: #fafafa;
  cursor: default;
}