<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.njk" %}
    <title>{{appname}}</title>
</head>
<body style="padding:5%;">
    <h1 class="title">{{appname}}</h1>
    <h2 class="subtitle">Introduction</h2>
    This is a simple introduction, nothing to see here.
</body>
</html>