<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.njk" %}
    {% include "partials/head_highlightjs.njk" %}
    <title>{{appname}}</title>
</head>
<body style="padding:5%;">
  <h1 class="title">Mean</h1>
  <h2 class="subtitle">The average of all elements in a list.</h2>

  <div class="tabs is-boxed">
    <ul>
      <li>
        <a>
          <span class="icon is-small"><i class="fa fa-image"></i></span>
          <span>Overview</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="fa fa-hourglass-start"></i></span>
          <span>Initialize Variables</span>
        </a>
      </li>
      <li class="is-active">
        <a>
          <span class="icon is-small"><i class="fa fa-list"></i></span>
          <span>Loop Over a List</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
          <span>Compute Average</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="columns is-gapless">
    <div class="column is-two-thirds">
    </div>
    <div class="column is-one-thirds">
      <pre><code style="padding-left: 2em;">
def get_mean(numbers):
    # keep track of sum and number of elements
    numbers_sum = 0
    numbers_size = 0

    # sum all numbers by gradually adding
    <span style="background-color: orange">for number in numbers:</span>
        numbers_sum += number
        numbers_size += 1

    # divide for the average
    return float(numbers_sum) / numbers_size
      </code></pre>
    </div>
  </div>
</body>
</html>